
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>

@using Lecture16CustomHelpers.CustomCodeHelpers
@Html.LabelCustomext("salam alikum")
@Html.LabelCustomext("salam alikum")
@Html.LabelCustomext("salam alikum")