@model Lecture27SearchingbyAjax.Models.info

@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions
    {

        InsertionMode = InsertionMode.Replace,

        UpdateTargetId = "DivMisbah",

    };
}

<h2>Index</h2>

@using (Ajax.BeginForm("SearchpPeople", options))
{

    <div>

        @Html.TextBox("keyword")
        <button type="submit"> Search</button>

    </div>



}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>



<table>

    <thead>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody id="DivMisbah">
        @Html.Action("SearchpPeople", new { keyword = "" })
    </tbody>

</table>


@Ajax.ActionLink("All", "All",
    new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "divtbl",
        InsertionMode = InsertionMode.Replace,


    })





<div id="divtbl">








</div>

