
@{
	ViewBag.Title = "IndexTempData";
}

<h2>IndexTempData</h2>

<h1> @TempData["Name"] </h1>
<h1> @TempData["Class"] </h1>
<h1> @TempData["Subject"] </h1>


@foreach (var item in (List<string>)TempData["obj"])
{


	<li>
		@item

	</li>


}