@model Lecture12Authentication_and_Authorization.Models.Signup

@{
    ViewBag.Title = "userDashboard";
}

<h2>userDashboard</h2>

@*@if(Request.Cookies != null)
{

<h1>welcome @Request.Cookies["email"].Value.ToString()</h1>


}*@

@if( Session != null)
{

<h1>welcome session @Session["UserEmail"].ToString()   </h1>


}
