@model Lecture04Model.Models.Student

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>

	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Contact</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			 
			<td  >@Model.id</td>
			<td>@Model.name</td>
			<td>@Model.age</td>
			<td>@Model.contact</td>
		
		</tr>

	</tbody>

</table>







